html { background: #eee; min-width: 360px; }
body { font-family: 'Segoe UI', Tahoma, sans-serif; margin: 1em; }
code { text-align: start; }
img { max-width: 100%; height: auto; }
noscript { padding: 3em; margin: 1em auto; display: block; width: 40%; text-align: center; }
h1 { font-size: 170%; }
a, a:visited { color: #000; }
noscript, .feed .article { background: #fff; }
.logo { position: fixed; top: 0.5em; left: 2%; width: 12%; min-width: 3.5em; cursor: pointer; }
.logo:hover, .fork:hover { opacity: 0.8; }
.fork { position: fixed; top: 0; right: 0;}
.feed .article { width: 70%; margin: 1em auto; padding: 1em; border: 1em solid #fff; }
.feed .article .date { font-size: 90%; float: right; }
.feed .article .title h1 { margin-top: 0; }
.feed .article .meta span { margin-right: 1em; }
.feed .article .content { padding: 1em; }
.feed .article input { width: 60%; margin: 1em 0; }